<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Muni</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src='App.js'></script>
  <script src='services.js'></script>
  <script src='mainController.js'></script>
  <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> -->
</head>
<body ng-app='MUNI'>
<div class='container' ng-controller="mainCtrl">

<!-- START OF ROUTE DROP DOWN -->

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div id='rte'class="col-sm-5">
      <h2>Route Select</h2>
      <h4> Step 1: Select your route </h4>
      <select class="routeSelect" ng-model="selectedRoute" ng-init="getAll()" ng-change="viewRoute(selectedRoute)"
      ng-options="route.id as route.title for route in routeList">
      </select><br/>
       <br/>
      <p id='selRt'> Selected Route:</p> <h3>{{ selectedRoute }} </h3>
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-2" ng-model="direction">
      <h2> Direction </h2>
      <h4> Step 2: Direction </h4>
        <button class="btn btn-primary"id='out' ng-click='dist()'> Outbound </button> <br/>
        <button class="btn btn-primary"id='in' ng-click='getLoc()'> Inbound </button> <br/>
        {{ hi }}
      </div>

    <div id='stp'class="col-sm-5">
      <h2>Stop Select</h2>
      <h4> Step 3: Click View Stops and select your stop </h4>
      <select class="routeSelect" ng-model="selectedStop" 
      ng-options="stop.id as stop.title group by stop.direction for stop in stops" ng-change="viewInfo(selectedRoute, selectedStop)">
      </select><br/>
      <p id='selStp'> Selected Stop:</p> <h3>{{ selectedStop }} </h3>
    </div><!-- /.col-lg-4 -->

<!--     <div class="col-sm-4">
      <h2>Direction</h2>
      <h4> Step 3: Select your direction and click View Info </h4>
      <select class="routeSelect" ng-model="selectedDirection">
      <option value="Inbound"> Inbound </option>
      <option value="Outbound"> Outbound </option>
      </select><br/>
      <button id='viewRoute'ng-click='viewInfo(selectedRoute, selectedStop, selectedDirection)'>View Info</button> <br/>
      <p> Selected Direction:</p> <h3>{{ selectedDirection}} </h3>

    </div><!-- /.col-lg-4 --> 
  </div>
<!-- END OF ROUTE DROP DOWN -->
  <div class='col-lg-8'>
      <h1> <u>Route Information</u> </h1> <br/>
      <h2 class="success"ng-show="selectedStop"> Earliest: {{ Alltimes[0] }}</h2>
      <h3 ng-show="selectedStop"> Next: {{ otherTimes  }} </h3>
      <h3 ng-show="selectedStop"> Location of Stop: {{ location  }} </h3>
    <div class='routeDisplay'>
    </div>
  </div>
</div>
<script src='geoPosition.js'></script>
</body>
</html>