<form action="/search" method="post">
    <div>
      <label for="routeName">ROUTE:</label>
      <input id="routeName" type="text" name="routeName">
    </div>
    <div>
      <label for="stopName">STOP:</label>
      <input id="stopName" type="stopName" name="stopName">
    </div>
    <div>
      <input type="submit" value="Submit Route">
    </div>
</form>